* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-1 {
    border: 2px solid;
    width: 55vh;
    height: 55vh;
    background-color: darkgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-2 {
    width: 50vh;
    height: 50vh;
    display: grid;
    gap: 10px;
    /* border: 10px solid ; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 2fr 2fr 2fr;
}

.container-2>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    grid-column: 1/4;
    grid-row: 1/2;
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 145, 1) 35%, rgba(181, 188, 190, 1) 100%);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

.item-2 {
    grid-column: 1/2;
    grid-row: 2/4;
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(57, 230, 201, 1) 0%, rgba(19, 204, 210, 1) 45%, rgba(192, 235, 231, 1) 100%);
}

.item-3 {
    grid-column: 2/4;
    grid-row: 2/3;
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(19, 70, 204, 1) 0%, rgba(38, 152, 201, 1) 45%, rgba(123, 215, 208, 1) 100%);
}

.item-4 {
    grid-column: 2/3;
    grid-row: 3/4;
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(19, 70, 204, 1) 0%, rgba(38, 152, 201, 1) 45%, rgba(123, 215, 208, 1) 100%);
}

.item-5 {
    grid-column: 3/4;
    grid-row: 3/4;
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(19, 70, 204, 1) 0%, rgba(38, 152, 201, 1) 45%, rgba(123, 215, 208, 1) 100%);
}

.item-6 {
    grid-column: 1/4;
    grid-row: 4/5;
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 145, 1) 35%, rgba(181, 188, 190, 1) 100%);
}